<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="./css/style.css">
</head>
<body>
   
       <h1>{{title}}</h1>
   <form>
     <input placeholder="location">
     <button>search</button>
   </form>
   <p id="m1"></p>
   <p id="m2"></p>
     {{>header}}
     
<script src='/js/jvs.js' ></script>
</body>

</html>